body
{
    background-color:darkseagreen;
    color:floralwhite;
}
h1
{
    color:navy;
    text-align: center;
    font-size: 64px;
    letter-spacing: 8px;
}
h2
{
    color:navy;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
}
h3
{
    color:rgb(243, 229, 201);
}
.footer
{
    text-align: center;
    color:linen;
}